<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joshua's Pomodoro</title>
</head>

<body>
  <div class="container">
    <h1 class="text-center">{{title}}</h1>
    <div class="row align-items-centers">
      <div class="col-md-6 my-field">
        <input id="intputText" class="my-field" type="text" (keyup.enter)="addItem()" [(ngModel)]="currentItem" class="form-control"
          placeholder="Add a new task" />
      </div>
      <div class="col-md-6">
        <button id="addTodo" (click)="addItem()" class="btn btn-primary">Add</button>
      </div>
    </div>

    <div class="col-md-6">
      <ul class="list-group">
        @for(item of tasks; track item) {
        <li class="list-group-item">{{item}}</li>
        }
      </ul>
    </div>
  </div>
</body>

</html>


<router-outlet />